<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/css/style.css' />
  </head>
  <body>
    <header>
        <h1> Web 317 Assignment 2 <h1>
    </header>
    <div> Welcome to Billli Video Community </div>

    {{{body}}}
      <footer>
        <p><a href="mailto:tfeng@sfsu.edu"> @copyrightTingFeng </a> </p>
    </footer>
</body></html>
