<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <h1> Bilibili Video Community  </h1>
        <h3>Sign Up today and post your video !</h3>
    </header>

    {{{body}}}
      <footer>
        <p><a href="mailto:tfeng@sfsu.edu"> @copyrightTingFeng </a> </p>
    </footer>
</body>
</html>
