<div class="title"> Home Page  </div>
<br>
<section>
    <p >Bilibili (stylized bilibili), nicknamed B Site, is a video sharing website based in Shanghai where users can submit, view and add overlaid commentary on videos. Since the mid-2010s, Bilibili began to expand to a broader audience from its original niche market that focused on animation, comics, and games (ACG), and it has become one of the major Chinese over-the-top streaming platforms serving videos on demand such as documentaries, variety shows, and other original programming. </p>
    <br>
</section>

<h3 id="line3">There are <span id="photo_count" > 0 </span>   photos dispalyed.</h3>
<div id="photo_data">
{{#each posts}}
<div>
    <img src="{{this.thumbnail}}"  width="100px" height="100px">
    <span>{{this.title}}</span>
</div>
{{/each}}
</div>

