
    
    <div class="content">
        <nav>
            <a href="index.html">Home</a>
            <a class="current" href="login.html">Login</a>
            <a href="registration.html">Registration</a>
            <a href="postvideo.html">Postvideo</a>
            <a href="viewpost.html">Viewpost</a>
            <a href="profile.html">Profile</a>
        </nav>
    <div class="title"> Login Page </div>
    <br>

    <section>
        <p> </p>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password :</label><br>
            <input type="password" id="password" name="password"><br>
            <input type="submit" value="Submit">
        </form>
    </section>
    </div>
    