
    

    <div class="content">
        <nav>
            <a href="index.html">Home</a>
            <a href="login.html">Login</a>
            <a class="current" href="registration.html">Registration</a>
            <a href="postvideo.html">Postvideo</a>
            <a href="viewpost.html">Viewpost</a>
            <a href="profile.html">Profile</a>
        </nav>
    <div class="title"> Registeration Page </div>
    <br>
    <br>

    <section>
        <div id="error"></div>
        <form action="/" method ="GET">
               
            <label for="username">Username:</label>
            <input required type="text" id="username" name="username"><br>
            <label for="email">Email:</label>
            <input required type="text" id="email" name="email"><br>
            <label for="password">Password :</label>
            <input required type="password" id="password" name="password"><br>
            <label for="confirm_password">Confirm Password :</label>
            <input required type="password" id="confirm_password" name="confirm_password"><br>
            <label for="confirm_age">Confirm your age is over 13:</label>
            <input required type="checkbox" id="confirm_age" name="confirm_age"><br>
            <label for="accept_tos">Accept <a href="">terms of service</a>:</label>
            <input required type="checkbox" id="accept_tos" name="accept_tos"><br>
            <label for="rememberMe">Remember Me  </label>
            <input required type="checkbox" id="rememberMe" name="rememberMe"><br>
            <input type="submit" value="Submit">
        </form>
    </section>
    </div>
    