<section>
    <p> </p>
    <h2> {{post.title}} </h2>
    <div>
        <video width="320" height="240" controls>
            <source src="/videos/{{post.video}}" type="video/mov">
        </video>
        <br>
        <button id="subscribe">Subscribe</button>
        <p> Video Author: {{post.author}} </p>
        <p> Video Created At: {{post.create_time}} </p>
        <ul>
            <li>Fred: Ur school vlogs are actually cool. We love to see more!</li>
            <li>Cindy: Love it.</li>
            <li>Annie: She actually makes me wanna go to school.</li>
        </ul>
    </div>
</section>
