body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  font: 15px Comic Sans MS, Comic Sans, cursive;
}

header {
  background-color: #4CAF50;
  padding: 20px;
  text-align: center;
}

.content {
  padding: 10px;
}

.title {
  color: black;
  font-size: 30px;
}

nav a {
  background-color: #4CAF50;
   /* Green */
  border: 5px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 0px;
  width: 15%;
}

nav a.current{
  background-color: black;
}

nav a:hover {background-color: #3e8e41}


nav a:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer {
  position: flex;
  margin-top: 12cm;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background-color: green;

}

form{
  font-size: 18px;
}

.horizontal {
  display: flex;
}

img {
  margin: 15px;
}

#subscribe {
  animation: wiggle 2s linear infinite;
  height: 2em;
  width: 7em;
  background-color: #4CAF50;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.message {
  display: none; 
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

.message p {
  padding: 10px 35px;
  font-size: 18px;
}

#username_validation {
  display: none; 
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#username_validation p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

#photo_count {
  color: #3e8e41;

}

#line3 {
  margin-left: 10px;
}

.photo_wrapper {
    transition: 1s linear all;
    height: 100px;
    width: 100px;
    position: relative;
    margin: 5px;
}

.hide {
  opacity: 0;
}

#photo_data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.photo_wrapper img{
  position: absolute;
  left: 0;
  top:0;
}

.photo_wrapper span{
  position:absolute;
  color:white;
  font-size: 10px;
  left: 40px;
  top: 30px;
}